/*
GENERIC ELEMENT
*/

/*Only for a elemnent in footer*/
a {
    text-decoration: none;
    color: #6ebb9b;
}

/*Div with the icon in header and in main*/
div.my_icon div.my_hr {
    width: 10rem;
    height: .2rem;
    border-radius: 3px;
}

/*Generic background color*/
.bg-primary-green{
    background-color: #1abc9c;
}

.bg-primary-black{
    background-color: #2c3e50;
}

.bg-secondary-black{
    background-color: #3a546d;
}

.border-white{
    border: 1px solid white;
}


/*
                                                            HEADER
*/
/*Formatting a div image*/
header div.my_img {
    width: 298px;
    height: 316px;
}

/*
                                                            MAIN
*/

/*Width and Height for my_box*/
section.portfolio div.my_box {
    width: 100%;
    height: 18rem;

}

/*Width and Height for img child of my_box*/
section.portfolio div.my_box>img {
    width: 100%;
    height: 100%;
}

/*Hover button in contact-me section, end form*/
section.contact_me button:hover {
    background-color: #2d5e49;
}
/*
                                                            FOOTER
*/

/*Formatting button icon*/
section.main-footer button {
    border: 1px solid white;
    border-radius: 50%;
    padding: .8rem 1rem;
}

/*Button hover*/
section.main-footer button:hover{
    background-color: #747c8b;
}

/*For correct circle in icon*/
section.main-footer button>i {
    width: 16px;
    height: 16px;
}
