                                                        /*Generic class*/
/*Generic back-ground color*/
.background-red{
    background-color: #a14e64;
}

.background-light-blue{
    background-color: #64a0b2;
}

.background-blue{
    background-color: #557cbc;
}

.background-dark-violet{
    background-color: #3325ae;
}

.background-yellow{
    background-color: #c3b2a3;
}


/*
                                                            HEADER
*/



header{
    background-color: #6ebb9b;
}

header div.img{
    border-radius: 50%;
    width: 300px;
    height: 280px;
    border: 1px solid black;
    background-color: pink;
}

/*
                                                            MAIN
*/

main div.my-box{
    border: 1px solid black;
    height: 12rem;
}

main div.img{
    width: 180px;
    height: 160px;
    border: 1px solid black;
    border-radius: 50%;
    background-color: pink;
}