/*                                                  
                                                        GENERIC CLASS
*/
/*Generic back-ground color*/
.background-red{
    background-color: #a14e64;
}

.background-light-blue{
    background-color: #64a0b2;
}

.background-blue{
    background-color: #557cbc;
}

.background-dark-violet{
    background-color: #3325ae;
}

.background-yellow{
    background-color: #c3b2a3;
}

/*                                                  
                                                        GENERIC ELENENT
*/
a{
    text-decoration: none;
    color: #6ebb9b;
}


/*
                                                            HEADER
*/


/*Background color for header*/
header{
    background-color: #6ebb9b;
}

/*Formatting a div image*/
header div.my_img{
    width: 298px;
    height: 316px;
}

/*Div with the icon in header*/
div.my_icon div.my_hr{
    width: 10rem;
    height: .2rem;
    border-radius: 3px;
}

/*
                                                            MAIN
*/

main div.my-box{
    border: 1px solid black;
    height: 12rem;
}

main div.img{
    width: 180px;
    height: 160px;
    border: 1px solid black;
    border-radius: 50%;
    background-color: pink;
}


/*Section about*/
section.about{
    background-color: #6ebb9b;
}


section.about button{
    border: 1px solid white;
    background-color: #6ebb9b;
    color: white;
}

/*
                                                            FOOTER
*/

/*Section main-footer*/
section.main-footer{
    background-color: #46536b;
}

section.main-footer button{
    border: 1px solid white;
    color: white;
    border-radius: 50%;
    padding: .5rem 1rem;
    background-color: #46536b;
    margin-right: .5rem;
}


/*Section end-footer*/
section.end-footer{
    background-color: #363f50;

}
